/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #3e7a4cc3;
}


/* Header styles */
header {
  background-color: #0077dd;
  color: #4e4646;
  padding: 10px;
  text-align: center;
}

#instructions{
  margin-bottom: 30px
}

/* Button styles */
button {
  background-color: #0077dd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005599;
}

/* Table styles */
table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #0077dd;
  color: #fff;
}

/* Form styles */
form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #0077dd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005599;
}


